:root {
  --black: #080706;
  --white: #efefef;
  --middle-blue: #73a7fe;
  --light-blue: #bfd7ff;
  --dark-blue: #395380;
  --grey: #bfd6ff34;
}

html,
body {
  height: 100%;
  /* background-color: var(--darkest); */
}

#root {
  height: 100%;
}
