/* LIGHT BLUE */
/* :root {
  --dark: #0f1215;
  --light: #bce6ff;
  --lightest: #efffff;
  --light-dark: #8bb4cc;
} */

/* :root {
  --darkest: #0c2431;
  --darker: #194a50;
  --middle: #d37556;
  --lighter: #d8a28c;
  --lightest: #e1dad2;
} */

/* PINK */
/* :root {
  --darkest: #393232;
  --darker: #4d4545;
  --middle: #ed8d8d;
  --lighter: #8d6262;
  --lightest: #f0d6d6;
} */

/* PINK 2 */
:root {
  --darkest: #3b1f1e;
  --darker: #674745;
  --middle: #c35655;
  --lighter: #fa8682;
  --lightest: #ffb7b1;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}
