header {
  height: fit-content;
}

nav {
  background-color: var(--black);
  height: auto;
  padding-top: 1rem;
  display: inline-block;
}

svg {
  height: 100%;
}

h3.information {
  padding: 0 0 1.5vh 0;
  margin: 0;
  border-bottom: 2px solid;
}

.navbar-name {
  margin: 2vh 0;
  width: 100%;
  font-weight: 100;
  text-align: center;
  font-size: 7vw;
  color: var(--light-blue);
}

.last-name {
  background-color: var(--light-blue);
  color: var(--black);
  font-weight: 800;
  padding: 1vh;
  border-radius: 10px;
}

.tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tab-title {
  color: var(--light-blue);
  background-color: var(--black);
  text-transform: none;
}

.tab-body {
  width: 80%;
  margin: auto;
  margin: 3vh auto;
}

.tab-head-container {
  height: fit-content;
  margin-bottom: 1em;
  display: block;
  width: fit-content;
  margin-bottom: 3vh;
}

.tab-head {
  font-size: 10vw;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white);
  border-radius: 10px;
  padding: 1.5vh;
  width: fit-content;
}

.subtitle {
  font-style: italic;
  color: var(--dark-blue);
  font-size: 1.5em;
  text-align: center;
  display: block;
}

.tabs .tab a {
  color: var(--light-blue);
  font-size: 1.5rem;
}

.tabs .tab a:hover {
  color: var(--light-blue);
  background-color: var(--grey);
}

.tabs .tab a:focus,
.tabs .tab a.focus.active,
.tabs .tab a.active {
  color: var(--light-blue);
  background-color: var(--black) !important;
  display: grid;
}

.tabs .indicator {
  background-color: var(--light-blue);
}

.page-footer {
  background-color: var(--light-blue);
  color: var(--black);
  padding: 0;
}

.page-footer .footer-copyright {
  background-color: var(--black);
  padding: 0;
  min-height: 35px;
}

.contact {
  font-size: 3em;
  color: var(--light-blue);
  margin: 10% 0;
  padding: 1vw 3vw;
}

.footer-contact-text {
  font-size: 1.25em;
  margin-left: 25px;
  border-left: 2px solid var(--black);
  padding-left: 25px;
  height: 100%;
  color: var(--light-blue);
  background-color: var(--black);
  padding: 5px 10px;
  border-radius: 5px;
}

.contact-container {
  border-radius: 10px;
  background-color: var(--black);
  justify-content: center;
}

.row {
  margin: 0;
}

.page-footer .collection {
  border: none;
  margin: 0vh;
}

.page-footer .collection .collection-item {
  background-color: transparent;
  border: none;
  height: 2.5em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 10px 0;
  font-size: 120%;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 5%;
  padding-bottom: 2vh;
  padding: 0;
}

.left-image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.nhl-container {
}

.me-container {
  width: 270px;
}

.me-image {
  display: block;
  width: 270px;
  border-radius: 10px;
}

.minify-gif {
  grid-column-start: minify-col-1;
  height: 450px;
  width: 270px;
  border-radius: 10px;
}

.sdc-cpu-image {
  border-radius: 10px;
}

.tab-information {
  grid-column-start: minify-col-2;
  font-size: 2em;
  margin-left: 1vw;
}

.tab-body .collection {
  border: none;
  margin: 2vh 0;
}

.tab-body .collection .collection-item {
  padding: 1px auto;
  font-size: 0.65em;
  border: none;
}

.information-category {
  text-transform: uppercase;
  color: var(--white);
  padding: 0 0.5vh 0 0.25vh;
  margin-right: 0.5vw;
  font-size: 125%;
}

@media only screen and (max-width: 600px) {
  .footer-contact-text.valign-wrapper {
    display: none;
  }
}

.sdc-pink {
  color: var(--sdc-pink);
}

.sdc-pink-background {
  background-color: var(--sdc-pink);
}

.fec-green {
  color: var(--fec-green);
}

.fec-green-background {
  background-color: var(--fec-green);
}

.spotify-green-background {
  background-color: var(--spotify-green);
}

.spotify-green {
  color: var(--spotify-green);
}

.nhl-orange-background {
  background-color: var(--nhl-orange);
}

.nhl-orange {
  color: var(--nhl-orange);
}

.about-me-blue {
  color: var(--about-me-blue);
}

.about-me-blue-background {
  background-color: var(--about-me-blue);
}
