.welcome-hello {
  padding: 10vh 0;
  justify-content: center;
  font-size: 30vw;
  color: var(--middle);
  border: 1px solid var(--middle);
  border-radius: 3vh;
}

nav {
  background-color: var(--black);
  height: auto;
}

.navbar-name {
  margin: 2vh 0;
  width: 100%;
  font-weight: 100;
  font-size: 70wv;
  color: var(--light-blue);
}

.tab-title {
  color: var(--light-blue);
  background-color: var(--black);
}

.tabs .tab a {
  color: var(--light-blue);
  font-size: 1.2rem;
}

.tabs .tab a:hover {
  color: var(--light-blue);
  background-color: var(--grey);
  font-size: 1.2rem;
}

.tabs .tab a:focus,
.tabs .tab a.focus.active,
.tabs .tab a.active {
  color: var(--light-blue);
  background-color: var(--black) !important;
}

.tabs .indicator {
  background-color: var(--light-blue);
}

.page-footer {
  background-color: var(--light-blue);
  color: var(--black);
}

.page-footer .footer-copyright {
  background-color: var(--black);
}

.black-text {
  color: var(--black);
}
